.heading {
    display: flex;
    justify-content: space-between;
}

.orderId {
    display: flex;
    gap: 5px;
    align-items: center;
}

.orderId>p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #313638;
}

.orderId span {
    margin-left: 15px;
    text-decoration: underline;
}

.orderId img {
    cursor: pointer;
}

.orderDetails {
    padding: 0 30px 30px 30px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.rightHeading {
    display: flex;
    align-items: center;
    gap: 30px;
}

.rightHeading>div:last-child {
    width: 140px;
    height: 35px;
    border-radius: 4px;
    background: #06038D;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.leftOrder>div {
    display: flex;
}

.leftOrder>div>p,
.rightOrder>div>p {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #5A5A5A;
}

.leftOrder>div>p:first-child {
    width: 170px;
}

.leftOrder {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rightOrder {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.rightOrder>div {
    display: flex;
    justify-content: space-between;
}

.rightOrder>div>p:last-child {
    width: 344px;
}

.rightOrder>div>p:first-child {
    width: 160px;
    margin-right: 50px;
}

.performance {
    /* background: gold; */
    margin-top: 30px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 30px;
}

.performance>p {
    margin: 0 0 16px 18px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
    color: #313638;
}

.cardContainer {
    display: flex;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
}

.cardContainer>div {
    height: 120px;
    background: white;
    min-width: 260px;
    border-radius: 5px;
    box-shadow: 0px 0.5px 1px 2px rgba(128, 128, 128, 0.06), 0.25px 1.5px 2px 0px rgba(0, 0, 0, 0.10);
    padding: 28px 0 0 25px;
}

.singleCard>p {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
}

.cardImageBox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cardImageBox>p {
    color: #5A5A5A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
}