.container {
    position: fixed;
    height: 100vh;
    width: 230px;
    border-right: 2px solid rgba(128, 128, 128, 0.10);
    z-index: 2;
    background: white;
}

.container p {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.imageBox {
    height: 130px;
    text-align: center;
}

.imageBox>img {
    margin-top: 35px;
}

.general {
    height: 200px;
    margin-top: -18px;
}

.heading {
    height: 50px;
    
    padding: 14px 0 14px 30px;
}

.heading>p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
}

.generalOptions {
    padding-left: 50px;
    padding-top: 23px;
}

.general>div {
    display: flex;
    gap: 10px;
    /* margin-bottom: 20px; */
    cursor: pointer;
}

.general img {
    width: 20px;
    height: 20px;
}

.generalOptions p {
    color: #5A5A5A;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.selected {
    color: #06038D !important;
    background: rgba(128, 128, 128, 0.10);
}